@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

html{
    box-sizing: border-box;
    max-height: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

*, *::after, *::before{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;

h1{
    margin: 0;
}

}
html, body{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    color: #000;
    font-family: Nunito;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.0225rem;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    border-radius: 0.25rem;
    background: #8CC63F;
    box-shadow: 0px 4px 20px 0px rgba(184, 180, 176, 0.80);
    position: sticky;
    top: -1em;
    z-index: 2;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 7.125rem;
}
.container-f{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3.25rem;
}

.menu__btn{
    display: none;
}
.shopping-cart{
    display: none;
}

.menu{
    display: none;
}

.menu-desktop{
    margin: 3rem;
    margin-top: 1rem;
}

.menu-list__item{
    color: #FFF;
    font-family: Nunito;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0225rem;
}
.menu-list__item-img{
    width: 1.5rem;
    height: 1.0625rem;
    flex-shrink: 0;
    margin-left: 0.38rem;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    transform: translateY(.2rem);
}

.menu-list__item-here{
    color: #2F4F3C;
    font-family: Nunito;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.0225rem;
    text-decoration: underline 2.5px #fff;
    text-underline-offset: 7px;
}

.menu-logo{
    width: 7rem;
    height: 7rem;
    flex-shrink: 0;
}

.menu-list__right, .menu-list__left{
    display: inline-flex;
    align-items: flex-start;
    gap: 2.75rem;

}

.main{
    flex-grow: 1;
  } 


/* BACKGROUND */
.main-back{
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    width: 100%;
    margin-top: -5.1rem;
    position: absolute;
    z-index: -1;
}
.mobile-back{
    display: none;
}

.main-back__left, .main-back__right{
    position: absolute;
    z-index: -1;
}
.left-1{
    width: 21.25rem;
    height: 21.25rem;
    top: 110vh;
    left: -7.5vh;
}
.left-2{
    width: 27.625rem;
    height: 28rem;
    transform: rotate(89.524deg);
    top: 190vh;
    left: -10vh;
}

.left-3{
    width: 50.40788rem;
    height: 30.8015rem;
    transform: rotate(-4.387deg);
    top: 290vh;
    left: -56vh;
}

.right-1{
    width: 51.40288rem;
    height: 30.8015rem;
    transform: rotate(-4.387deg);
    top: 130.38vh;
    right: -50vh;
    
}
.right-2{
    width: 40rem;
    top: 240.5vh;
    right: -30vh;
}
.right-3{
    width: 27.625rem;
    height: 28rem;
    transform: rotate(17.189deg);
    top: 350.44vh;
    right: -20vh;
}


.main-screen{
    margin: 0 10.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-title {
    color: #8CC63F;
    text-align: center;
    font-family: Orelega One;
    font-size: 4.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.08625rem;
    margin-top: 18.81rem;
    margin-bottom: 2.37rem;
    width: 34.5rem;
}

.main-title__line{
    margin-bottom: 1.62rem;
}

.main-delivery__title{
    margin-bottom: 3.75rem;
    color: #2F4F3C;
    text-align: center;
    font-family: Orelega One;
    font-size: 3rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06rem;
}

.main-menu__list{
    color: #2F4F3C;
    font-family: Nunito;
    display: inline-flex;
    align-items: flex-start;
    text-decoration: underline 1px rgba(244, 118, 118, 0.50);
    text-underline-offset: 12px;
    margin-bottom: 4.5rem;
    gap: 2.75rem;
}

.main-menu__item.active{
    text-decoration: underline 3px #F47676;
    
}
.main-menu__item{
    display: flex;
    position: relative;
    transition: .5s ease;
}

.main-menu__item::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -9px;
    height: 3px;
    width: 0;
    background-color: #F47676;
    transition: .5s ease;
}

.main-menu__item:hover::before {
    width: 100%;
}

.main-menu__item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #F47676;
    transition: .4s ease;
    z-index: -1;
}



.main-menu__line{
    top: 2.5rem;
}

.cart-card{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}


/* CART */
.cart{
    display: flex;
    width: 18.5rem;
    padding: 1.5rem;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem;
    border-radius: 1.5rem;
    border: 2px solid #8CC63F;
    background: #FFF;
}
.cart-title{
    align-self: stretch;
    color: #2F4F3C;
    text-align: center;
    font-family: Orelega One;
    font-size: 1.625rem;
    font-weight: 400;
    letter-spacing: 0.0325rem;
}

.cart-item{
    display: flex;
    margin-bottom: 1rem;
    align-items: flex-start;
    flex-direction: column;
}

.cart-trash{
    cursor: pointer;
}

.cart-trash__item{
    display: flex;
    flex-direction: row;
    align-items: flex-start
}

.cart-item__name{
    color: #2F4F3C;
    font-size: 1rem;;
    margin-bottom: 0.5rem;
    margin-left: 1rem;
}
.cart-item__price{
    color: #2F4F3C;
    font-size: 1rem;    
    font-weight: 400;
    margin-left: 2.5rem;
}
.vector{
    margin: 1.25rem 0;
}

.cart-item__score{
    display: flex;
    justify-content: space-between;
}
.score__total-title{
    color: #2F4F3C;
}
.score__total{
    color: #2F4F3C;
    font-weight: 400;
}

.quantity-cart-pay{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.125rem;
    padding: 0.75rem 0.5rem;
    border-radius: 1rem;
    background: #8CC63F;
    border: none;
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;
}

.quantity-cart2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.125rem;
    padding: 0.75rem 1rem;
    flex-shrink: 0;
    border-radius: 1rem;
    border: 1px solid #343434;
    background: transparent;
    color: #343434;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}

.quantity-cart2::before {
  content: '';
  position: absolute;
  inset: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: inherit;
  scale: 0;
  z-index: -1;
  background-color: #2F4F3C;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.quantity-cart2:hover::before {
  scale: 3;
}

.quantity-cart2:hover {
  color: #FFF;
  border: #2F4F3C;
  box-shadow: 0 0px 20px #343434;
  scale: 1.1;
  
}

.quantity-cart2:active {
  scale: 1;
}



/* CARDS */
.card-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 5.62rem;
}

.card-layout__item {
    margin: 1rem;
    position: relative;
}

.card-discount{
    position: absolute;
    top: 0rem;
    left: 0rem;
}
.card-discount__text{
    color: #fff;
    font-size: 0.9375rem;
    font-weight: 700;
    transform: rotate(-45deg);
    position: absolute;
    left: 0rem;
}

.card{
    display: flex;
    max-width: 18.5rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    border-radius: 1.5rem;
    background: #FFF;
    box-shadow: 0px 0px 16px 0px rgba(184, 180, 176, 0.50);
}

.card-title{
    height: 5.25rem;
    align-self: stretch;
    color: #2F4F3C;
    text-align: center;
    font-family: Orelega One;
    font-size: 1.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0325rem;
    margin-bottom: 1.25rem;
}

.card-img{
    width: 100%;
    margin-bottom: 1.25rem;
}

.card-price{
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    color: #000;
    font-family: Nunito;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0225rem;
    margin-bottom: 1.25rem;
}

.card-price__now{
    color: #006837;
    font-family: Nunito;
    transform: scale(1.1);
    font-weight: 700;
}

.card-price__before{
    text-decoration: line-through 3px #f4767688;
}

.card-price__before, .card-weight{
    color: #000;
    font-family: Nunito;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0225rem;
}

.cart-adder{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}
.quantity{
    display: flex;
    width: 7.125rem;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    border: 1px solid #343434;
}
.quantity button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.quantity-cart{
    display: flex;
    width: 7.125rem;
    padding: 0.75rem 0.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background: #2F4F3C;
    border: none;
    cursor: pointer;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    padding: 0.75rem;
}
  .quantity-cart:hover {
    box-shadow: 0 0px 20px #343434;
    scale: 1.1;
    
  }
  
  .quantity-cart:active {
    scale: 1;
  }

.card-layout, .card-layout__item{
    transition: 400ms;
}

.card-layout .card-layout__item:hover {
    transform: scale(1.05, 1.05);
  }
  
.card-layout:hover > .card-layout__item:not(:hover) {
    transform: scale(0.95, 0.95);
}

/* FOOTER */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15.0625rem;
    background: #8CC63F;
    color: #FFF;
}

.footer-menu{
    display: flex;
    width: 67.6875rem;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-menu__list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.125rem;
}

.footer-menu__title{
    font-weight: 800;
}

.menu__btn{
  width: 2.5rem;
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  background-color: transparent;
  padding: 0;
  border: none;
  z-index: 2;
  display: none;

}
.menu__btn:hover{
  background-color: transparent;
  padding: 0;
  border: none;
}

.menu__btn span{
  height: 3px;
  background-color: #2F4F3C;
  border-radius: 1rem;
  width: 100%;
}

